#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem); /* Ensures section takes full height */
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem; /* Added padding to ensure content doesn't touch edges */
    box-sizing: border-box;
}

.worktitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.workdescription {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem; /* Added margin to separate from images */
    max-width: 45rem;
}

/* .worksimages {
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 65rem;
} */

.worksismg {
    object-fit: cover;
    height: 20rem;
    width: calc(33.333% - 1rem); /*Adjust width to fit in a row*/
    margin: 0.5rem;
}

.worksimages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;

    /* max-width: 15rem; */
}

.worksimages img {
    object-fit: fill; /* Ensure images fill their content boxes */
    max-width: 15rem; /* Ensure images do not exceed the container's width */
    height: auto; /* Maintain the aspect ratio */
}




.btn:hover {
    background: rgb(19, 75, 112);
    color: #E1E1E1;
    border: 0.1rem solid rgb(19, 75, 112);
}

.btn {
    height: 2rem;
    cursor: pointer;
    background: #E1E1E1;
    color: rgb(80, 140, 155);
    border: 0.1rem solid rgb(80, 140, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    margin-top: 1rem; /* Added margin to separate from other elements */
}

@media (max-width: 585px) {
    .worksimg {
        height: 48vw; 
    }
}

@media (max-width: 768px) {
    .worksimg {
        width: calc(50% - 1rem); /* Two images per row on smaller screens */
        height: 15rem; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .worksimg {
        width: calc(100% - 1rem); 
        height: 12rem; 
    }
}
