* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Merriweather", serif;
}

body {
  background: #E1E1E1;
  color: rgb(80, 140, 155);
  overflow: hidden;
  overflow-y: scroll;
}
